{% extends "links/list.html" %}

{% block title %}Log into Links{% endblock %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle shadow bg-success bg-opacity-75 rounded border border-secondary">

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>You are already logged in.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  {% if user.is_authenticated %}
    <p>You are already logged in</p>
  {% else %}

  <div class="m-1 text-white">
      <form method="POST" class="m-0" action="{% url 'login' %}">
          {% csrf_token %}
          {% load crispy_forms_tags %}
          {{ form|crispy }}
          <br>
          <input class="btn btn-success" type="submit" value="Login" />
          <input type="hidden" name="next" value="{{ next }}" />
          <a class="btn btn-primary" role="button" href="{% url 'registration' %}">Registration</a>
      </form>
  </div>
  {% endif %}
</div>
{% endblock %}