{% extends "links/list.html" %}

{% block title %}Links - Cut{% endblock %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle shadow bg-success bg-opacity-75 rounded border border-secondary">
    <div class="m-1">
        <form method="POST" class="input-group m-0">{% csrf_token %}
            <input class="form-control bg-light" placeholder="Shorten your link" type="url" name="original" minlength="11" required="" id="id_original">
            <button type="submit" name="cut" class="btn btn-outline-light">Cut</button>
        </form>
        <div class="mt-1 text-white">
            {% if object.original%}
            You link:
            <a class="link-warning" href="{% url 'link' object.slug %}">{{request.build_absolute_uri}}{{object.slug}}/</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}