{% extends "links/list.html" %}

{% block title %}Links{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <p class="link-main">Original link:<a class="link-main" href="{{ object.original }}">{{ object.original }}</a></p>
    <p class="link-main">Cut link:<a class="link-main" href="http://127.0.0.1:8000/{{ object.slug }}">http://127.0.0.1:8000/{{ object.slug }}</a></p>
    <p class="link-main"><input type="submit" value="Delete" name="{{ object.id }}"></p>
</form>

{% endblock %}